.footer{
    background:#202020;
    color:white;
    padding:60px 80px 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:40px;
}

.footer-section h3{
    color:#ff4d4d;
    margin-bottom:20px;
}

.footer-section p{
    line-height:1.8;
}

.footer-section ul{
    list-style:none;
    padding:0;
}

.footer-section li{
    margin-bottom:12px;
    cursor:pointer;
}

.footer-section li:hover{
    color:#ff4d4d;
}

.footer hr{
    margin:40px 0 20px;
    border:1px solid #444;
}

.copyright{
    text-align:center;
    font-size:15px;
}