/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

/* Logo */
.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.title h2 {
  color: #d32f2f;
  font-size: 28px;
}

.title p {
  color: gray;
  font-size: 14px;
}

/* Menu */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d32f2f;
}

/* Button */
.donate-btn {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.donate-btn:hover {
  background: #b71c1c;
}